/*generale*/
:root {
  --primary: #716350;
  --accent: #e6b8af;
  --text: #322c22;
  --background: #f4f6fa;
  --white: #ffffff;
  --secondary: #a89f91;
  --highlight: #f9c0c0;
}

* {
  margin: 0;
  padding: 0;
}

/* Donne un effet doux et fluide au body */
body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--background);
  color: var(--text);
  transition: all 0.4s ease-in-out;
  line-height: 1.6;
}

h1,
h2,
.logo {
  font-family: "Dancing Script", cursive;
}

html {
  scroll-behavior: smooth;
}
p,
.section__text__p1,
.section__text__p2,
.section__text__p3 {
  color: var(--text);
}

/* transition*/

a,
.btn {
  transition: all 300ms ease;
}

/* nav */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--text);
  text-underline-offset: 1rem;
}

.logo {
  font-size: 3rem;
  color: var(--text);
  cursor: pointer;
}

/* Hamburger menu*/

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 15px 40px;
  width: fit-content;
  z-index: 222;
  margin: 10px;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
  color: var(--primary);
  text-decoration-color: #fadbd8;
  text-decoration: underline;
  text-underline-offset: 0.7rem;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
  display: block;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* section*/

@keyframes sectionPopOut {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.pop-out-element {
  opacity: 0;
}

.pop-out-element.visible {
  animation: sectionPopOut 0.5s ease-out forwards;
}

/* Containers avec un effet flottant doux */
section,
.details-container,
.details-competence-container,
.contact-container,
.container-project-detail {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

section:hover,
.details-container:hover,
.details-competence-container:hover:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
section {
  padding-top: 3vh;
  height: auto;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
  justify-self: center;
}

/* profile  */

#profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-items: center;
  gap: 3rem;
  height: 50vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  z-index: 223;
  margin: auto 0px;
  justify-content: center;
}

.section__text {
  text-align: center;
}

.section-text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.section__text__p2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.2rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

i {
  cursor: pointer;
  font-size: 40px;
}
i:hover {
  color: var(--primary);
}
.btn-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.btn {
  font-weight: 600;
  padding: 1rem;
  transition: all 300ms ease;
  width: 14rem;
  border-radius: 2rem;
}

.btn-color-1 {
  background-color: #f4f6fa;
  color: var(--text);
  border: 1px solid var(--primary);
  cursor: pointer;
}

.btn-color-1:hover {
  background-color: var(--primary);
  color: var(--text);
}

.btn-color-2 {
  background-color: var(--primary);
  color: var(--text);
  border: 1px solid var(--text);
  cursor: pointer;
}

.btn-color-2:hover {
  background-color: #ffffff;
  color: var(--text);
}
/*About*/

#about {
  position: relative;
}
.about-countainers {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.about-countainers {
  display: grid;
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  justify-self: center;
  justify-content: center;
}
.swiper-button-prev,
.swiper-button-next {
  color: #333;
  justify-self: start;
}
.details-container,
.details-competence-container {
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 2rem;
  border: rgb(78, 78, 78) 0.1rem solid;
  text-align: center;
}

.details-container:last-child {
  grid-column: 1 / -1;
  justify-self: center;
  max-width: 500px;
}

.section__text__p3 {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}
@keyframes bounceDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

#arrow {
  font-size: 3rem;
  color: var(--text);
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  cursor: pointer;
  animation: bounceDown 1s infinite ease-in-out;
  transition: color 0.3s ease;
}

#arrow:hover {
  color: #000;
}

.text-container {
  max-width: 650px;
  text-align: center;
  padding: 2rem 20rem;
}

#boxin {
  font-size: 13px;
}

/*competence*/

.competence-container {
  display: grid;
  gap: 1rem;
  margin-bottom: 7rem;
  margin-top: 1rem;
  justify-content: center;
}
.competence-container {
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
}

.article-container {
  padding: 1rem;
}
.details-competence-container {
  max-width: 220px;
}
article {
  display: flex;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/*projet*/
#projet {
  grid-template-columns: 100%;
  row-gap: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  padding: 1rem 2rem;
  justify-items: center;
}

.projet__swiper {
  position: relative;
  display: flex;
  margin-top: 1rem;
  padding: 2rem 4rem;
}

.container-project-detail {
  max-width: 360px;
  height: 600px;
  padding: 0.5rem;
  background: white;
  border-radius: 2rem;
  text-align: center;
  flex-shrink: 0;
  transition: all 0.4s;
  transform: scale(0.7);
}

:is(.swiper-slide-active, .swiper-slide-duplicate-active) {
  transform: scale(1);
}
.expanded-desk {
  display: none;
  position: absolute;
  background-color: #332c232d;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 70vh;
  z-index: 1001;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.expanded-desk.expanded {
  position: fixed;
  animation: expandedDeskPopOut 0.5s ease forwards;
}

.expanded-desk-image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.close-btn {
  z-index: 1001;
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.expanded-demo-video {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-49%, -55%);
  width: 68%;
  height: 62%;
  object-fit: fill;
  border-radius: 2px;
  z-index: 1;
}

.projet-demo {
  transition: all 0.5s ease-in-out;
  transform-origin: center;
  display: flex;
  margin: 0 auto;
  background-color: #332c2334;
  border-radius: 20px;
  margin: 10px;
  position: relative;
}
#demo.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000001;
}
#desk {
  width: 100%;
  height: auto;
  z-index: 2;
}

#demo {
  position: absolute;
  top: 44%;
  left: 48%;
  transform: translate(-50%, -45%);
  width: 68%;
  height: 61%;
  object-fit: fill;
  cursor: pointer;
  border-radius: 2px;
  z-index: 1;
}

.p-detail {
  border: 1px solid rgb(78, 78, 78);
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 8px 3px;
}

.projet-text {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 2px;
  margin: 0;
  gap: 1rem;
}
@keyframes expandedDeskPopOut {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
}
h4,
h5 {
  border-bottom: 2px solid #333;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.p-text {
  padding: 2px 3px;
  justify-items: center;
}

/* contact **/

#contact {
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  justify-content: center;
}

.contact-container {
  display: flex;
  border: 1px solid black;
  border-radius: 4rem;
  margin: 2rem auto;
  width: fit-content;
  padding: 3rem 6rem;
  justify-self: center;
  margin-bottom: 0;
}

.contact-info-conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

/* footer*/

footer {
  height: 10rem;
  margin: 0rem;
}

footer p {
  text-align: center;
  color: rgb(78, 78, 78);
}

@media screen and (max-width: 400px) {
  section {
    margin: 3rem 0.5rem;
  }

  .section__text {
    width: auto;
  }

  .details-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0.1rem;
  }
  .p-detail {
    padding: 1px 1px;
  }

  .projet-text {
    padding: 1px;
  }
  .projet-container {
    align-items: center;
    margin-inline: auto;
    width: 350px;
  }
  .swiper {
    width: 350px;
  }
  .container-project-detail {
    max-width: 260px;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  #arrow {
    display: none;
  }
  .menu-links {
    top: 120%;
    right: 0rem;
  }
  h1.title {
    font-size: 1.8rem;
  }
  .section__text__p1 {
    font-size: 1.2rem;
  }
  .section__text__p3 {
    font-size: 0.6rem;
  }
  #contact {
    margin: 2rem;
    padding: 0.3rem;
    padding-bottom: 4rem;
  }

  .contact-container {
    justify-content: start;
    padding: 0.5rem;
    flex-direction: column;
  }

  .section__pic-container {
    height: 300px;
    width: 300px;
  }
  .section__text {
    width: 90%;
  }

  .article-container {
    padding: 1px;
  }
  .btn-container {
    flex-direction: column;
    align-items: center;
  }
  .btn {
    width: 80%;
  }
  footer {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 700px) {
  .nav-footer .nav-links {
    display: block;
    text-align: center;
    margin-bottom: 6rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 1px;
  }
}
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    right: 0;
    gap: 1rem;
  }
  .contact-container {
    margin: 0.8rem auto;
    padding: 1rem 2rem;
  }
}
